<!-- <%- include("templates/encaInicio") %> -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Base de Datos</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="title">DataVision</h1>
            <div class="estados">
                <p class="estado">Estado:</p>
                <p class="conexion">
                    <%= conectado ? 'Conectado' : 'No Conectado' %>
                </p>
                <p class="latencia">Latencia: <%= conectado ? latencia + 'ms' : 'N/A' %>
                </p><i class="fa-solid fa-signal"></i>
            </div>
        </div>
        <h2 class="TB-Insert">Editar Base de Datos</h2>
        <form action="/actualizarBaseDeDatos/<%= databaseName %>" method="post">
            <div class="form-group tablas-bd insert-r">
                <label for="nuevoNombre">Nuevo Nombre:</label>
                <input type="text" id="nuevoNombre" name="nuevoNombre" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-crear btn-actualizar">Actualizar</button>
        </form>
    </div>
</body>
</html>

<!-- <%- include("templates/pie") %> -->